/* HTML5 display role reset for olders browser */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
