.button--white {
  @include styleButton(
    $color-gray-0,
    $color-white-0,
    $color-black-light,
    $fs-0,
    $fw-1,
    $pd-0 + 1,
    $pd-0 + 2
  );
  &:hover {
    @include hoverButton($color-black-0, transparent, $color-black-0);
  }
  &:focus {
    outline: none;
  }
}

.button--red {
  margin-right: 20px;
  @include styleButton(
    $color-white-0,
    $color-red-0,
    $color-red-0,
    $fs-0,
    $fw-1,
    $pd-0 + 1,
    $pd-0 + 2
  );
  &:hover {
    @include hoverButton($color-white-0, $color-red-1, $color-red-1);
  }
  &:focus {
    outline: none;
  }
}

.button--dropup {
  @include styleButton(
    $color-gray-0,
    $color-white-0,
    $color-black-light,
    $fs-1,
    $fw-4,
    $pd-2 + 1,
    $pd-0
  );
  &:hover {
    @include hoverButton($color-gray-0, transparent, $color-black-0);
  }
  &:focus {
    outline: none;
  }
}
