.courses {
  margin: $mg-1 0;
  .courses__content {
    width: 90%;
    margin: auto;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    .courses__left {
      background-color: $color-gray-1;
      padding: 0 2rem;
      display: flex; //canh giua item khi chi co 1 the cha ngoai cung
      align-items: center;
      h2 {
        @include styleText($color-black-0, $fs-3 + 1, $fs-0);
      }
    }
    #myTab {
      margin-bottom: $mg-1;
      .nav-link {
        @include styleText($color-black-0, $fs-0, $fs-0);
        &:hover {
          border: 1px solid transparent;
          // border-bottom: 5px solid $color-blue-0;
          color: $color-blue-0;
        }
        &.active {
          border: 1px solid transparent;
          border-bottom: 5px solid $color-blue-0;
        }
      }
    }
  }

  @include responsive("screen-1") {
    .card {
      .card-body {
        padding: 0.5rem;
        .card-title {
          @include styleText($color-black-0, $fs-1, $fw-1);
        }
      }
    }
  }


  @include responsive("medium") {
    .courses__content {
      .courses__left {
        margin-bottom: $mg-4;
      }
    }
  }
}
