.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  background-color: $color-gray-4;
  z-index: 5;
  width: 400px;
  transform: translateX(100%);
  transition: 0.5s;
  .sidebarMini__button {
    @include styleButton(
      $color-black-0,
      $color-gray-4,
      $color-gray-4,
      $fs-5,
      $fw-0,
      $pd-2,
      $pd-3
    );
    border-radius: 8px 0 0 8px;
    position: fixed;
    transform: translateX(-99%);
    transition: 0.5s;
    &:focus {
      outline: none;
    }
  }

  .sidebarMini__content {
    width: 150px;
    padding: $pd-3;
    text-align: center;
    h2 {
      font-size: $fs-0;
    }

    .switch {
      position: relative;
      width: 50px;
      height: 25px;
      margin: 0 $mg-4;
      input {
        display: none;
        &:checked + .slider {
          &::before {
            transform: translateX(22px);
          }
        }
      }
      .slider {
        position: absolute;
        background-color: $color-gray-7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // giống thuộc tính height: 100%; width: 100%;
        border-radius: $border-radius-1;
        cursor: pointer;
        &::before {
          content: "";
          width: 18px;
          height: 18px;
          background-color: $color-white-0;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          bottom: 4px;
          left: 4px;
          transition: 0.5s;
        }
      }
    }
  }
  &.is-opened {
    transform: translateX(60%);
  }
}
